# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/task-manager/node_modules
/frontend/task-manager/.pnp
/frontend/task-manager/.pnp.js

# testing
/frontend/task-manager//coverage

# production
/frontend/task-manager//build

# misc
/frontend/task-manager/.DS_Store
/frontend/task-manager/.env.local
/frontend/task-manager/.env.development.local
/frontend/task-manager/.env.test.local
/frontend/task-manager/.env.production.local

/frontend/task-manager/npm-debug.log*
/frontend/task-manager/yarn-debug.log*
/frontend/task-manager/yarn-error.log*

.idea
.vscode
